footer{
    height: 20vh;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    place-items: center;
}
    @media screen and (min-width:838px){
        footer{
            margin-left: 40%;
        }
    }